.jqx-rc-tl-office2
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
.jqx-rc-tr-office2
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
.jqx-rc-bl-office2
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.jqx-rc-br-office2
{
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*top rounded Corners*/
.jqx-rc-t-office2
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
/*bottom rounded Corners*/
.jqx-rc-b-office2
{
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*right rounded Corners*/
.jqx-rc-r-office2
{
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
/*left rounded Corners*/
.jqx-rc-l-office2
{
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
/*all rounded Corners*/
.jqx-rc-all-office2
{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.jqx-widget-office2 {
    font-family: Calibri;
}
.jqx-widget-content-office2{font-family: Calibri; border-color: #d4d4d4; color: #444444; background-color: #fff;}
.jqx-widget-header-office2{font-family: Calibri; color: #444444; border-color:#d4d4d4; background-color:#ffffff;}

.jqx-fill-state-normal-office2{font-family: Calibri; border-color: #d4d4d4; color: #444444; background: #fdfdfd;}
.jqx-grid-cell-sort-alt-office2, .jqx-grid-cell-filter-alt-office2, .jqx-grid-cell-pinned-office2, .jqx-grid-cell-alt-office2, .jqx-grid-cell-sort-office2{ background:#ededed; color: #000;}
.jqx-button-office2 {border-color: #d4d4d4;}
.jqx-fill-state-hover-office2{border-color:#86bfa0; color: #000; background:#d3f0e0;}
.jqx-input-office2, .jqx-input-button-content-office2 {border-color: #d4d4d4;}
.jqx-fill-state-focus-office2, .jqx-combobox-content-focus-office2, .jqx-numberinput-focus, .jqx-datetimeinput-office2 .jqx-fill-state-hover-office2, .jqx-datetimeinput-office2 .jqx-fill-state-pressed-office2{ border-color: #86bfa0; }
.jqx-fill-state-pressed-office2{border-color:#429366; color: #000; background:#86bfa0;}

.jqx-scrollbar-state-normal-office2, .jqx-grid-bottomright-office2, .jqx-panel-bottomright-office2, .jqx-listbox-bottomright-office2{background:#f3f3f3;}
.jqx-widget-office2 .jqx-grid-column-header-office2, .jqx-grid-cell-office2, .jqx-widget-office2 .jqx-grid-cell-office2, .jqx-widget-office2 .jqx-grid-group-cell-office2, .jqx-grid-group-cell-office2{font-family: Calibri; border-color:#f3f3f3;}
.jqx-tabs-title-bottom-office2, .jqx-tabs-title-office2{color: #666666;}
.jqx-tabs-title-hover-bottom-office2, .jqx-tabs-title-hover-top-office2{color: #217346; background: transparent; border-color: transparent;}
.jqx-tabs-title-selected-bottom-office2, .jqx-tabs-selection-tracker-bottom-office2, .jqx-tabs-title-selected-top-office2, .jqx-tabs-selection-tracker-top-office2{font-weight: bold; color: #217346; border-color:#d4d4d4; border-bottom:1px solid #fff; background:#fff}
.jqx-menu-vertical-office2{background: #fff; border-color: #d4d4d4;}
.jqx-widget-office2 .jqx-grid-cell-office2, .jqx-widget-office2 .jqx-grid-column-header-office2, .jqx-widget-office2 .jqx-grid-group-cell-office2 {color: #000; border-color: #d4d4d4;}
.jqx-widget-office2 .jqx-grid-column-menubutton-office2, .jqx-widget-office2 .jqx-grid-column-sortascbutton-office2, .jqx-widget-office2 .jqx-grid-column-sortdescbutton-office2, .jqx-widget-office2 .jqx-grid-column-filterbutton-office2 {
    background-color: transparent;
    border-color: #d4d4d4;
}
 .jqx-input-button-header-office2, .jqx-calendar-title-header-office2, .jqx-grid-office2 .jqx-widget-header-office2, .jqx-grid-header-office2, .jqx-grid-column-header-office2, .jqx-grid-office2 {font-family: Calibri; border-color: #d4d4d4; color: #444444; background: #fff;}
.jqx-window-header-office2{font-family: Calibri; color: #444444; background: #fff;}
.jqx-grid-column-menubutton-office2 {
    background-image: url('images/office2-icon-down.png');
 }
 /*applied to the column's sort button when the sort order is ascending.*/
 .jqx-grid-column-sortascbutton-office2 {
    background-image: url('images/office2-icon-up.png');
 }
.jqx-grid-column-sortdescbutton-office2 {
    background-image: url('images/office2-icon-down.png');
}
.jqx-checkbox-hover-office2 {
    background: #fff;
}
.jqx-radiobutton-hover-office2 {
    background: #fff;
}
.jqx-scrollbar-thumb-state-normal-horizontal-office2, .jqx-scrollbar-thumb-state-normal-office2 {
    background: #ffffff; border-color: #d4d4d4;
}
.jqx-scrollbar-thumb-state-hover-horizontal-office2, .jqx-scrollbar-thumb-state-hover-office2 {
    background: #f0f0f0; border-color: #d4d4d4;
}
.jqx-scrollbar-thumb-state-pressed-horizontal-office2, .jqx-scrollbar-thumb-state-pressed-office2 {
    background: #f0f0f0; border-color: #777777;
}
.jqx-scrollbar-button-state-normal-office2
{
    border: 1px solid #d4d4d4; 
    background: #fff;
}
/*applied to the scrollbar buttons in hovered state.*/
.jqx-scrollbar-button-state-hover-office2
{
    border: 1px solid #777777;
    background: #fff;
}
/*applied to the scrollbar buttons in pressed state.*/
.jqx-scrollbar-button-state-pressed-office2
{
    border: 1px solid #777777;
    background: #f0f0f0;
}

/*icons*/
.jqx-window-collapse-button-office2
{
    background-image: url(images/office2-icon-up.png);
    background-repeat: no-repeat;
}
.jqx-window-collapse-button-collapsed-office2 {
    background-image: url(images/office2-icon-down.png);
    background-repeat: no-repeat;
}
.jqx-icon-arrow-up-office2, .jqx-expander-arrow-bottom-office2, .jqx-menu-item-arrow-up-office2
{
    background-image: url('images/office2-icon-up.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-down-office2, .jqx-expander-arrow-top-office2, .jqx-tree-item-arrow-expand-office2, .jqx-tree-item-arrow-expand-hover-office2, .jqx-menu-item-arrow-down-office2
{
    background-image: url('images/office2-icon-down.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-left-office2, .jqx-menu-item-arrow-left-office2
{
    background-image: url('images/office2-icon-left.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-right-office2, .jqx-menu-item-arrow-right-office2, .jqx-tree-item-arrow-collapse-office2, .jqx-tree-item-arrow-collapse-hover-office2
{
    background-image: url('images/office2-icon-right.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-tabs-arrow-left-office2, .jqx-tree-item-arrow-collapse-rtl-office2, .jqx-tree-item-arrow-collapse-hover-rtl-office2
{
    background-image: url('images/office2-icon-left.png');
    background-repeat: no-repeat;
}
.jqx-tabs-arrow-right-office2
{
    background-image: url('images/office2-icon-right.png');
    background-repeat: no-repeat;
}

.jqx-menu-item-arrow-up-selected-office2, .jqx-icon-arrow-up-selected-office2{background-image:url('images/office2-icon-up.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-down-selected-office2, .jqx-icon-arrow-down-selected-office2{background-image:url('images/office2-icon-down.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-left-selected-office2, .jqx-icon-arrow-left-selected-office2{background-image:url('images/office2-icon-left.png');background-repeat:no-repeat;background-position:center;}
.jqx-menu-item-arrow-right-selected-office2, .jqx-icon-arrow-right-selected-office2{background-image:url('images/office2-icon-right.png');background-repeat:no-repeat;background-position:center;}
.jqx-tabs-close-button-office2{background-image:url(images/close.png);  background-repeat:no-repeat;  background-position:center;}
.jqx-tabs-close-button-selected-office2{background-image:url(images/close.png);  background-repeat:no-repeat;  background-position:center;}
.jqx-tabs-close-button-hover-office2{background-image:url(images/close.png);  background-repeat:no-repeat;  background-position:center;}
.jqx-expander-arrow-bottom-office2,.jqx-scrollbar-office2 .jqx-icon-arrow-up-selected-office2{background-image:url('images/office2-icon-up.png'); background-repeat:no-repeat; background-position:center;}
.jqx-expander-arrow-top-office2, .jqx-scrollbar-office2 .jqx-icon-arrow-down-selected-office2{background-image:url('images/office2-icon-down.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-office2 .jqx-icon-arrow-left-selected-office2{background-image:url('images/office2-icon-left.png'); background-repeat:no-repeat; background-position:center;}
.jqx-scrollbar-office2 .jqx-icon-arrow-right-selected-office2{background-image:url('images/office2-icon-right.png');background-repeat:no-repeat; background-position:center;}
.jqx-slider-slider-office2
{
}
.jqx-slider-button-office2
{
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
}
.jqx-input-button-content-office2
{  
    font-size: 10px;
}

.jqx-dropdownlist-state-normal-office2, .jqx-dropdownlist-state-hover-office2, .jqx-dropdownlist-state-selected-office2,
.jqx-scrollbar-button-state-hover-office2, .jqx-scrollbar-button-state-normal-office2, .jqx-scrollbar-button-state-pressed-office2,
.jqx-scrollbar-thumb-state-normal-horizontal-office2, .jqx-scrollbar-thumb-state-hover-horizontal-office2, .jqx-scrollbar-thumb-state-pressed-horizontal-office2,
.jqx-scrollbar-thumb-state-normal-office2, .jqx-scrollbar-thumb-state-pressed-office2, .jqx-button-office2, .jqx-tree-item-hover-office2, .jqx-tree-item-selected-office2,
.jqx-tree-item-office2, .jqx-menu-item-office2, .jqx-menu-item-hover-office2, .jqx-menu-item-selected-office2, .jqx-menu-item-top-office2, .jqx-menu-item-top-hover-office2, 
.jqx-menu-item-top-selected-office2, .jqx-slider-button-office2, .jqx-slider-slider-office2
 {
    -webkit-transition: background-color 100ms linear;
     -moz-transition: background-color 100ms linear;
     -o-transition: background-color 100ms linear;
     -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
}
.jqx-switchbutton-office2 {
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px;
    border: 2px solid #a6a6a6;
}
.jqx-switchbutton-thumb-office2 {
    width: 12px;
    background: #000;
    border: 1px solid #000;
}
.jqx-switchbutton-label-on-office2 {
    background: #429366;
    color: #429366;
}
.jqx-switchbutton-label-off-office2 {
    background: #a6a6a6;
    color: #a6a6a6;
}
.jqx-icon-arrow-first-metro
{
    background-image: url('images/office2-icon-first.png');
    background-repeat: no-repeat;
    background-position: center;
}
.jqx-icon-arrow-last-metro
{
    background-image: url('images/office2-icon-last.png');
    background-repeat: no-repeat;
    background-position: center;
}

.jqx-switchbutton-wrapper-office2 {
}.jqx-widget-office2
{
  font-family: Calibri;
}
.jqx-widget-content-office2
{
  color: #444444;
  text-shadow: none;
  border-color: #d4d4d4;
  background: #ffffff;
  font-family: Calibri;
}
.jqx-widget-header-office2, .jqx-grid-office2 .jqx-widget-header-office2
{
  color: #444444;
  text-shadow: none;
  border-color: #d4d4d4;
  background-color: #EFFFEA;
  background-image: -moz-linear-gradient(top, #EFFFEA, #EFFFEA);
  background-image: -ms-linear-gradient(top, #EFFFEA, #EFFFEA);
  background-image: -o-linear-gradient(top, #EFFFEA, #EFFFEA);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#EFFFEA), to(#EFFFEA));
  background-image: -webkit-linear-gradient(top, #EFFFEA, #EFFFEA);
  background-image: linear-gradient(top, #EFFFEA, #EFFFEA);
  background-image: linear-gradient(to bottom, #EFFFEA, #EFFFEA);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Calibri;
}
.jqx-grid-column-menubutton-office2, .jqx-widget-office2.jqx-grid-column-menubutton-office2
{
  border-color: #d4d4d4;
}
.jqx-grid-cell-office2, .jqx-widget-office2 .jqx-grid-cell-office2
{
  background-color: #ffffff;
  color: #222222;
  text-shadow: none;
}
.jqx-fill-state-normal-office2
{
  color: #444444;
  text-shadow: none;
  border-color: #d4d4d4;
  background-color: #fdfdfd;
  background-image: -moz-linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: -ms-linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: -o-linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fdfdfd), to(#fdfdfd));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: linear-gradient(top, #fdfdfd, #fdfdfd);
  background-image: linear-gradient(to bottom, #fdfdfd, #fdfdfd);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Calibri;
}
.jqx-button-office2
{
  color: #444444;
  text-shadow: none;
  border-color: #d4d4d4;
  background-color: #DCDCDC;
  background-image: -moz-linear-gradient(top, #DCDCDC, #DCDCDC);
  background-image: -ms-linear-gradient(top, #DCDCDC, #DCDCDC);
  background-image: -o-linear-gradient(top, #DCDCDC, #DCDCDC);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#DCDCDC), to(#DCDCDC));
  background-image: -webkit-linear-gradient(top, #DCDCDC, #DCDCDC);
  background-image: linear-gradient(top, #DCDCDC, #DCDCDC);
  background-image: linear-gradient(to bottom, #DCDCDC, #DCDCDC);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Calibri;
}
.jqx-grid-selectionarea-office2
{
  border-color: #d4d4d4;
  background-color: #fdfdfd;
}
.jqx-widget-office2 .jqx-grid-cell-sort-office2, .jqx-widget-office2 .jqx-grid-cell-filter-office2, .jqx-widget-office2 .jqx-grid-cell-pinned-office2, .jqx-grid-cell-sort-office2, .jqx-grid-cell-filter-office2, .jqx-grid-cell-pinned-office2
{
  background-color: #ededed;
  color: #000000;
  text-shadow: none;
}
.jqx-widget-office2 .jqx-grid-cell-alt-office2, .jqx-widget-office2 .jqx-grid-cell-sort-alt-office2, .jqx-widget-office2 .jqx-grid-cell-pinned-alt-office2, .jqx-widget-office2 .jqx-grid-cell-filter-alt-office2, .jqx-grid-cell-alt-office2, .jqx-grid-cell-sort-alt-office2, .jqx-grid-cell-filter-alt-office2
{
  background-color: #ededed;
  color: #000000;
  text-shadow: none;
}
.jqx-fill-state-hover-office2, .jqx-widget-office2 .jqx-grid-cell-hover-office2
{
  color: #444444;
  text-shadow: none;
  border-color: #86bfa0;
  background-color: #d3f0e0;
  background-image: -moz-linear-gradient(top, #d3f0e0, #d3f0e0);
  background-image: -ms-linear-gradient(top, #d3f0e0, #d3f0e0);
  background-image: -o-linear-gradient(top, #d3f0e0, #d3f0e0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#d3f0e0), to(#d3f0e0));
  background-image: -webkit-linear-gradient(top, #d3f0e0, #d3f0e0);
  background-image: linear-gradient(top, #d3f0e0, #d3f0e0);
  background-image: linear-gradient(to bottom, #d3f0e0, #d3f0e0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Calibri;
}
.jqx-fill-state-pressed-office2, .jqx-widget-office2 .jqx-grid-cell-selected-office2
{
  color: #000000;
  text-shadow: none;
  border-color: #429366;
  background-color: #86bfa0;
  background-image: -moz-linear-gradient(top, #86bfa0, #86bfa0);
  background-image: -ms-linear-gradient(top, #86bfa0, #86bfa0);
  background-image: -o-linear-gradient(top, #86bfa0, #86bfa0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#86bfa0), to(#86bfa0));
  background-image: -webkit-linear-gradient(top, #86bfa0, #86bfa0);
  background-image: linear-gradient(top, #86bfa0, #86bfa0);
  background-image: linear-gradient(to bottom, #86bfa0, #86bfa0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
  font-family: Calibri;
}
.jqx-switchbutton-label-on-office2
{
  color: #000000;
  text-shadow: none;
  border-color: #429366;
  background-color: #86bfa0;
  background-image: -moz-linear-gradient(top, #86bfa0, #86bfa0);
  background-image: -ms-linear-gradient(top, #86bfa0, #86bfa0);
  background-image: -o-linear-gradient(top, #86bfa0, #86bfa0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#86bfa0), to(#86bfa0));
  background-image: -webkit-linear-gradient(top, #86bfa0, #86bfa0);
  background-image: linear-gradient(top, #86bfa0, #86bfa0);
  background-image: linear-gradient(to bottom, #86bfa0, #86bfa0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-tabs-title-selected-top-office2, .jqx-tabs-selection-tracker-top-office2
{
  color: #444444;
  text-shadow: none;
  border-color: #d4d4d4;
  border-bottom: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-tabs-title-selected-bottom-office2, .jqx-tabs-selection-tracker-bottom-office2
{
  color: #444444;
  text-shadow: none;
  border-color: #d4d4d4;
  border-top: 1px solid #ffffff;
  background-image: none ;
  background-color: #ffffff;
}
.jqx-splitter-splitbar-hover-office2
{
  background: #d3f0e0;
}
.jqx-splitter-splitbar-vertical-office2, .jqx-splitter-splitbar-horizontal-office2, .jqx-slider-track-horizontal-office2, .jqx-slider-track-vertical-office2
{
  background: #fdfdfd;
}
.jqx-splitter-collapse-button-horizontal-office2, .jqx-splitter-collapse-button-vertical-office2, .jqx-slider-rangebar-office2
{
  background: #86bfa0;
}
.jqx-scrollbar-state-normal-office2
{
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
.jqx-grid-bottomright-office2, .jqx-panel-bottomright-office2, .jqx-listbox-bottomright-office2
{
  background-color: #f3f3f3;
}
.jqx-scrollbar-thumb-state-normal-office2
{
  background-color: #ffffff;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(left, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(left, #ffffff, #ffffff);
  background-image: -o-linear-gradient(left, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(left, #ffffff, #ffffff);
  background-image: linear-gradient(left, #ffffff, #ffffff);
  background-image: linear-gradient(left right, #ffffff, #ffffff);
}
.jqx-scrollbar-thumb-state-normal-horizontal-office2
{
  background-color: #ffffff;
  background-color: #ffffff;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
  background-image: -o-linear-gradient(top, #ffffff, #ffffff);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-hover-office2
{
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  background-image: -moz-linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: -webkit-gradient(linear, left top, right top, from(#f0f0f0), to(#f0f0f0));
  background-image: -webkit-linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(left right, #f0f0f0, #f0f0f0);
}
.jqx-scrollbar-thumb-state-hover-horizontal-office2
{
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -ms-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -o-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(to bottom, #f0f0f0, #f0f0f0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-thumb-state-pressed-office2
{
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  background-image: -moz-linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: -webkit-gradient(linear, left top, right top, from(#f0f0f0), to(#f0f0f0));
  background-image: -webkit-linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(left, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(left right, #f0f0f0, #f0f0f0);
}
.jqx-scrollbar-thumb-state-pressed-horizontal-office2
{
  background-color: #f0f0f0;
  border-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -ms-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -o-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(to bottom, #f0f0f0, #f0f0f0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-normal-office2
{
  background-color: #f3f3f3;
  background-image: -moz-linear-gradient(top, #f3f3f3, #f3f3f3);
  background-image: -ms-linear-gradient(top, #f3f3f3, #f3f3f3);
  background-image: -o-linear-gradient(top, #f3f3f3, #f3f3f3);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f3f3f3), to(#f3f3f3));
  background-image: -webkit-linear-gradient(top, #f3f3f3, #f3f3f3);
  background-image: linear-gradient(top, #f3f3f3, #f3f3f3);
  background-image: linear-gradient(to bottom, #f3f3f3, #f3f3f3);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-hover-office2
{
  background-color: #f0f0f0;
  border-color: #ababab;
  background-image: -moz-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -ms-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -o-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(to bottom, #f0f0f0, #f0f0f0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-scrollbar-button-state-pressed-office2
{
  background-color: #f0f0f0;
  border-color: #777777;
  background-image: -moz-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -ms-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -o-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#f0f0f0), to(#f0f0f0));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(top, #f0f0f0, #f0f0f0);
  background-image: linear-gradient(to bottom, #f0f0f0, #f0f0f0);
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-clip: padding-box;
}
.jqx-radiobutton-check-checked-office2
{
  background: #111111;
  width: 7px;
  height: 7px;
  margin-left: 2px;
  margin-top: 2px;
  border-width: 1px;
  border-style: solid;
}
.jqx-rc-tl-office2
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-radius-topleft: 0px;
  border-radius-topleft: 0px;
}
.jqx-rc-tr-office2
{
  -moz-border-radius-topright: 0px;
  -webkit-border-radius-topright: 0px;
  border-radius-topright: 0px;
}
.jqx-rc-bl-office2
{
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius-bottomleft: 0px;
  border-radius-bottomleft: 0px;
}
.jqx-rc-br-office2
{
  -moz-border-radius-bottomright: 0px;
  -webkit-border-radius-bottomright: 0px;
  border-radius-bottomright: 0px;
}
.jqx-rc-t-office2
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}
.jqx-rc-b-office2
{
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jqx-rc-r-office2
{
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.jqx-rc-l-office2
{
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-bottom-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.jqx-radiobutton-default-office2, .jqx-radiobutton-office2, .jqx-radiobutton-check-checked-office2, .jqx-radiobutton-hover-office2, .jqx-radiobutton-check-indeterminate-office2, .jqx-radiobutton-check-indeterminate-disabled-office2, .jqx-slider-button-office2
{
  -moz-border-radius: 100% !important;
  -webkit-border-radius: 100% !important;
  border-radius: 100% !important;
}
.jqx-rc-all-office2, .jqx-tooltip-office2, .jqx-tooltip-text-office2, .jqx-tooltip-main-office2
{
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.jqx-grid-column-sortascbutton-office2, .jqx-expander-arrow-bottom-office2, .jqx-window-collapse-button-office2, .jqx-menu-item-arrow-up-office2, .jqx-menu-item-arrow-top-up-office2, .jqx-icon-arrow-up-office2
{
  background-image: url('images/icon-up.png');
}
.jqx-icon-arrow-up-hover-office2
{
  background-image: url('images/icon-up.png');
}
.jqx-menu-item-arrow-up-selected-office2, .jqx-icon-arrow-up-selected-office2.jqx-expander-arrow-expanded-office2
{
  background-image: url('images/icon-up.png');
}
.jqx-grid-column-menubutton-office2, .jqx-grid-column-sortdescbutton-office2, .jqx-expander-arrow-top-office2, .jqx-window-collapse-button-collapsed-office2, .jqx-menu-item-arrow-down-office2, .jqx-menu-item-arrow-down-office2, .jqx-tree-item-arrow-expand-office2, .jqx-grid-group-expand-office2, .jqx-widget-office2 .jqx-grid-group-expand-office2, .jqx-icon-arrow-down-office2
{
  background-image: url('images/icon-down.png');
}
.jqx-icon-arrow-down-hover-office2
{
  background-image: url('images/icon-down.png');
}
.jqx-menu-item-arrow-down-selected-office2, .jqx-icon-arrow-down-selected-office2
{
  background-image: url('images/icon-down.png');
}
.jqx-tabs-arrow-left-office2, .jqx-menu-item-arrow-top-left-office2, .jqx-grid-group-collapse-rtl-office2, .jqx-widget-office2 .jqx-grid-group-collapse-rtl-office2, .jqx-icon-arrow-left-office2, .jqx-icon-arrow-down-left-office2
{
  background-image: url('images/icon-left.png');
}
.jqx-icon-arrow-left-hover-office2
{
  background-image: url('images/icon-left.png');
}
.jqx-menu-vertical-office2
{
  background: #ffffff;
}
.jqx-menu-item-arrow-left-selected-office2, .jqx-icon-arrow-left-selected-office2
{
  background-image: url('images/icon-left.png');
}
.jqx-tabs-arrow-right-office2, .jqx-menu-item-arrow-top-right-office2, .jqx-menu-item-arrow-collapse-office2, .jqx-grid-group-collapse-office2, .jqx-widget-office2 .jqx-grid-group-collapse-office2, .jqx-icon-arrow-right-office2
{
  background-image: url('images/icon-right.png');
}
.jqx-icon-arrow-right-hover-office2
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-right-selected-office2, .jqx-icon-arrow-right-selected-office2
{
  background-image: url('images/icon-right.png');
}
.jqx-window-close-button-office2, .jqx-tabs-close-button-office2, .icon-close-office2
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-selected-office2
{
  background-image: url('images/close.png');
}
.jqx-tabs-close-button-hover-office2
{
  background-image: url('images/close.png');
}
.jqx-widget-office2 .jqx-grid-column-header-office2, .jqx-widget-office2 .jqx-grid-cell-office2, .jqx-widget-office2 .jqx-grid-group-cell-office2, .jqx-grid-cell-office2
{
  border-color: #d4d4d4;
}
.jqx-checkbox-check-checked-office2
{
  background-image: url('images/check_black.png');
}
.jqx-checkbox-check-indeterminate-office2
{
  background-image: url('images/check_indeterminate_black.png');
}
.jqx-tooltip-office2, .jqx-tooltip-main-office2
{
  color: #444444;
  text-shadow: none;
  border-color: #d4d4d4;
  background-color: #fdfdfd;
}
.jqx-combobox-content-office2, .jqx-input-office2
{
  color: #444444;
  text-shadow: none;
  border-color: #d4d4d4;
  background-color: #ffffff;
}
.jqx-combobox-input-office2
{
  color: #444444;
  text-shadow: none;
}
.jqx-input-content-office2
{
  color: #444444;
  text-shadow: none;
  background-color: #ffffff;
}
.jqx-fill-state-focus-office2, .jqx-popup-office2 .jqx-fill-state-focus-office2
{
  border-color: #86bfa0;
}
.jqx-popup-office2.jqx-listbox-office2, .jqx-popup-office2.jqx-calendar-office2,.jqx-menu-dropdown-office2,  .jqx-popup-office2.jqx-dropdownbutton-popup-office2
{
  color: #444444;
  text-shadow: none;
  border-color: #86bfa0;
  background-color: #ffffff;
}
.jqx-menu-item-arrow-right-office2, .jqx-tree-item-arrow-collapse-office2
{
  background-image: url('images/icon-right.png');
}
.jqx-menu-item-arrow-left-office2
{
  background-image: url('images/icon-left.png');
}
.jqx-tree-item-arrow-expand-office2
{
  background-image: url('images/icon-down.png');
}
.jqx-scrollbar-office2 .jqx-icon-arrow-up-office2
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-office2 .jqx-icon-arrow-left-office2
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-office2 .jqx-icon-arrow-right-office2
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-office2 .jqx-icon-arrow-bottom-office2
{
  background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar-office2 .jqx-icon-arrow-up-hover-office2
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-office2 .jqx-icon-arrow-left-hover-office2
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-office2 .jqx-icon-arrow-right-hover-office2
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-office2 .jqx-icon-arrow-bottom-hover-office2
{
  background-image: url('images/icon-bottom.png');
}
.jqx-scrollbar-office2 .jqx-icon-arrow-up-selected-office2
{
  background-image: url('images/icon-up.png');
}
.jqx-scrollbar-office2 .jqx-icon-arrow-left-selected-office2
{
  background-image: url('images/icon-left.png');
}
.jqx-scrollbar-office2 .jqx-icon-arrow-right-selected-office2
{
  background-image: url('images/icon-right.png');
}
.jqx-scrollbar-office2 .jqx-icon-arrow-bottom-selected-office2
{
  background-image: url('images/icon-bottom.png');
}
.jqx-calendar-office2 .jqx-icon-arrow-up-office2, .jqx-tabs-header-office2 .jqx-icon-arrow-up-office2
{
}
.jqx-calendar-office2 .jqx-icon-arrow-left-office2, .jqx-tabs-header-office2 .jqx-icon-arrow-left-office2
{
}
.jqx-calendar-office2 .jqx-icon-arrow-right-office2, .jqx-tabs-header-office2 .jqx-icon-arrow-right-office2
{
}
.jqx-calendar-office2 .jqx-icon-arrow-bottom-office2, .jqx-tabs-header-office2 .jqx-icon-arrow-bottom-office2
{
}
.jqx-widget-office2 .jqx-grid-cell-office2, .jqx-listitem-state-normal-office2, .jqx-menu-item-normal-office2, .jqx-tree-item-normal-office2, .jqx-calendar-cell-office2, .jqx-grid-cell-office2,.jqx-menu-vertical-office2 .jqx-menu-item-top-normal-office2, .jqx-input-popup-office2 .jqx-fill-state-normal-office2
{
  font-family: Calibri;
}
.jqx-widget-office2 .jqx-grid-cell-hover-office2, .jqx-listitem-state-hover-office2, .jqx-menu-item-hover-office2, .jqx-tree-item-hover-office2, .jqx-calendar-cell-hover-office2, .jqx-grid-cell-hover-office2,.jqx-menu-vertical-office2 .jqx-menu-item-top-hover-office2, .jqx-input-popup-office2 .jqx-fill-state-hover-office2,.jqx-input-button-header-office2, .jqx-input-popup-office2 .jqx-fill-state-pressed-office2,.jqx-input-button-header-office2
{
  font-family: Calibri;
}
.jqx-widget-office2  .jqx-grid-cell-selected-office2, .jqx-listitem-state-selected-office2, .jqx-menu-item-selected-office2, .jqx-tree-item-selected-office2, .jqx-calendar-cell-selected-office2, .jqx-grid-cell-selected-office2,.jqx-menu-vertical-office2 .jqx-menu-item-top-selected-office2, .jqx-grid-selectionarea-office2
{
  font-family: Calibri;
}
.jqx-icon-calendar-office2
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-hover-office2
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-calendar-pressed-office2
{
  background-image: url('images/icon-calendar.png');
}
.jqx-icon-first-office2
{
  background-image: url('images/icon-first.png');
}
.jqx-icon-first-hover-office2
{
  background-image: url('images/icon-first.png');
}
.jqx-icon-first-selected-office2
{
  background-image: url('images/icon-first.png');
}
.jqx-icon-last-office2
{
  background-image: url('images/icon-last.png');
}
.jqx-icon-last-hover-office2
{
  background-image: url('images/icon-last.png');
}
.jqx-icon-last-selected-office2
{
  background-image: url('images/icon-last.png');
}
.jqx-grid-cell-office2.jqx-grid-cell-office2>.jqx-grid-group-expand-office2
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-office2.jqx-grid-cell-hover-office2>.jqx-grid-group-expand-office2
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-office2.jqx-grid-cell-selected-office2>.jqx-grid-group-expand-office2
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-office2.jqx-grid-cell-office2>.jqx-grid-group-collapse-office2
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-office2.jqx-grid-cell-hover-office2>.jqx-grid-group-collapse-office2
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-office2.jqx-grid-cell-selected-office2>.jqx-grid-group-collapse-office2
{
  background-image: url('images/icon-right.png');
}
.jqx-grid-cell-office2.jqx-grid-cell-office2>.jqx-grid-group-expand-rtl-office2
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-office2.jqx-grid-cell-hover-office2>.jqx-grid-group-expand-rtl-office2
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-office2.jqx-grid-cell-selected-office2>.jqx-grid-group-expand-rtl-office2
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-cell-office2.jqx-grid-cell-office2>.jqx-grid-group-collapse-rtl-office2
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-cell-office2.jqx-grid-cell-hover-office2>.jqx-grid-group-collapse-rtl-office2
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-cell-office2.jqx-grid-cell-selected-office2>.jqx-grid-group-collapse-rtl-office2
{
  background-image: url('images/icon-left.png');
}
.jqx-grid-column-menubutton-office2, .jqx-grid-column-sortdescbutton-office2
{
  background-image: url('images/icon-down.png');
}
.jqx-grid-column-sortascbutton-office2
{
  background-image: url('images/icon-up.png');
}
.jqx-icon-delete-office2
{
  background-image: url('images/icon-delete.png');
}
.jqx-icon-edit-office2
{
  background-image: url('images/icon-edit.png');
}
.jqx-icon-save-office2
{
  background-image: url('images/icon-save.png');
}
.jqx-icon-cancel-office2
{
  background-image: url('images/icon-cancel.png');
}
.jqx-icon-search-office2
{
  background-image: url('images/icon-search.png');
}
.jqx-icon-plus-office2
{
  background-image: url('images/icon-plus.png');
}
